* {                         /*This will reset the page to 0 for every browser */
    padding:0px;
    margin:0px;
}

#wrapper {
    margin:20px auto;
    padding-bottom:25px;
    width:1000px;
    text-align:left;
    
}

.box {                                  /* Contains #chatbox & #viewers */
    float:left;
    overflow:auto;
    height:700px;
    border: 1px solid black;
    margin:10px;
}
#chatbox {
    width:75%;
    background:#A3FFFF;
    float:left;
}
#viewers {
    width:20%;
    background:#00CCFF;
}

#textbox {
    width:93%;
    border:1px solid black;
}

#footer {
    clear:both;
    text-align:center;
    padding:20px;
    border-top:2px solid black;
}
