/*div {
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
*/

body {
    transition: background-color 2s ease;
    background-color: white;

}

body:hover {
    transition: background-color 2s ease;
    background-color: #ccc;
}

footer {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: absolute;
    top:1000;
    bottom:0;
    left:0;
    right:0;

    margin: auto;
    text-indent: 50px;

}

h1 {

    font-style: comic;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    text-shadow: 2px 2px 2px #aaa;
}

html {
  background:url('http://evo.caltech.edu/images/inside-background.jpg');
}

.tabs {
  position: relative;   
  min-height: 400px;
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: auto;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

#msg {
  width: 470px;
}

